ul
	{
	float: left;
	list-style:none;
	}
	
li a
	{
	display: block;
	width: 120px;
	font-size: 1em;
	text-align: center;
	color: white;
	background-color: #8FBC8F;
	padding: 8px 10px;
	margin-bottom: 6px;
	border-radius: 4px;
	box-shadow: 3px 3px 3px #D8BFD8;
	}
li a:hover
{
	background: #556B2F;
	box-shadow: none;
}

#naglowek
{
  background-image: url("szkola.png");
  background-size: cover;
  text-align: justify;
  min-height: 100px;
  font-size: xx-large;
  color: black;
  padding: 20px;
}

#menu
{
	float:left;
	width:20%;

}

#informacje
{
	float:left;
 width:70%;
 background: #8FBC8F;
 padding:20px;
 margin: 5px 5px 5px 5px;
 min-height:100%;
}

#stopka
{
	clear:both;
	background: #556B2F	;
	text-align: center;
	min-height: 50px;

}









