ul
	{
	float: left;
	list-style:none;
	}
	
li a
	{
	display: block;
	width: 100px;
	font-size: lem;
	text-align: center;
	color: white;
	background-color: gray;
	padding: 5px 10 px;
	margin: 0px 0px 4px 0px;
	border-radius: 4px;
	box-shadow: 2px 2px 2px silver;
	}