h3
{
font-size:40px;
color: #DA70D6;
}

h2
{
font-size:20px;
color: #9370DB;
}

th
{
color: #9370DB;
}

h1
{
font-size:16px;
color:red;
}

th
{
background-color: #E6E6FA;
}

td
{
background-color: #FFE4E1;
}

td
{
color: #DA70D6;
}

h9
{
font-family:Arial;
font-size: 20px;
color: #9370DB;
}

h22
{
font-size:25px;
color:	#FF00FF;
}